/* Sección de cabecera */
.cabecera {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cabecera_images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.cabecera_images img {
    max-height: 300px;
    max-width: 31%;  /* 4 imágenes = 25% cada una */
    width: auto;
    height: auto;
    object-fit: cover;  /* Para que llenen su espacio */
}

/* Mejora la maquetación de los margenes */
section {
    margin: 30px 0;
    padding: 1px 0;
}

/* Listado sección */
.listado {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.listado article {
    display: flex;
    gap: 15px;
}

.listado article h3 {
    margin: 0 0 20px 0;
    font-weight: 500;
}

.listado article.texto_foto {
    flex-direction: row-reverse;
}
.listado article.foto_texto {
    flex-direction: row;
}

.listado_imagen, .listado_imagen img {
    max-width: 500px;
}

.listado_link{
    width: 100%;
    margin: 30px 0;
}

.listado_link a.btn:hover,.listado_link a.btn:focus, .listado_link a.btn:active{
    color: var(--text-button-color);
    text-decoration: none;
}

/* Sección de ranking */
.ranking {
    width: 100%;
}
.ranking table {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid rgb(207, 207, 207);
    border-collapse: collapse;
}

.ranking table th {
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
}

.ranking table td {
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
}

.ranking table td span.valoracion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking table tbody tr:nth-child(odd) {
    background-color: var(--background-color);
}

.ranking table tbody tr:nth-child(even) {
     /* El validador no me ha dejado poner un color-mix porque es una regla relativamente moderna */
    background-color: var(--color-hover);   
}